/* Home Hero Values */
.hero {
  padding-bottom: 20px;
}

.heroContainer {
  display: flex;
  background-color: #e3dfdc;
}

.heroHeading {
  position: relative;
  top: -16px;
  margin-top: 0px;
  margin-bottom: 25px;
  font-family: retiro-std-24pt, sans-serif;
  font-size: 110px;
  font-weight: 700;
  text-align: right;
  line-height: 44px;
}

.heroHeading2 {
  margin-top: 34px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: futura-pt, sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
}

.herobut {
  width: 220px;
  float: right;
  background-color: #4d4743;
  font-family: retiro-std-24pt, sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.herobut:hover {
  background-color: #5e5550;
}

.heroImage {
  margin-top: -49px;
  margin-bottom: 62px;
  margin-left: -40px;
}

/* College Section Values */

.featuregrid {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: auto auto auto;
}

.collagecontainer {
  display: flex;
  padding: 20px;
  background-color: #e3dfdc;
}

.collagecontainer2 {
  display: block;
  padding: 20px;
  background-color: #e3dfdc;
}

.collegeheading {
  margin-bottom: 20px;
  font-family: retiro-std-24pt, sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.collegepara {
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.collegepara2 {
  padding-right: 119px;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

#feature-toe {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

#feature-material {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

#feature-TPU {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#feature-dualStraps {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}

#feature-heel {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
}